body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin: 0;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 22px 400px;
    background-color: #1F2937;
}

.header .push {
    margin-left: auto;
}

.header h1 {
    font-size: 24px;
    color: #F9FAF8
}

.header a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    
}

.hero {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    gap: 20px;
    padding: 70px 400px 125px;
    background-color: #1F2937;
}

.hero img {
    max-width: 600px;
    height: auto;
}

.hero .text {
    display: flex;
    flex-flow: column wrap;
    flex: 1;
    justify-content: center;
    align-items: flex-start;
}

.hero .text h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: extra-bold;
    margin: 0;
}

.hero .text p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero .text button {
    padding: 5px 30px;
    background-color: #3882F6;
    color: #F9FAF8;
    border: 0;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
}

.information {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 30px 400px 60px;
    background-color: #F9FAF8;
}

.information h1 {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 30px;
}

.information .images {
    display: flex;
    align-items: baseline;
    flex-flow: row nowrap;
    gap: 20px;
}

.information .images .image {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.information .images .image img {
    height: 200px;
    width: 200px;
    border: 5px solid #3882F6;
    border-radius: 16px;
}

.information .images .image p {
    text-align: center;
    font-size: 18px;
    color: #5a5b5c;
    padding: 0 20px;
}

.quote-sec {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 50px 425px;
    background-color: #E5E7EB;
}

.quote-sec .quote {
    color: #1F2937;
    font-style: italic;
    font-weight: 100;
    font-size: 36px;
    margin-bottom: 0px;
    margin-top: 100px;
}

.quote-sec .source {
    color: #1F2937;
    align-self: flex-end;
    font-weight: bold;
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 100px;
}

.call-to-action {
    background-color: #F9FAF8;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 100px 375px;
}

.call-to-action .block {
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: #3882F6;
    padding: 30px 100px;
    border-radius: 8px;
}

.call-to-action .block button {
    margin-left: auto;
    padding: 5px 40px;
    height: 40px;
    background-color: #3882F6;
    color: #F9FAF8;
    border: 2px solid white;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
}

.call-to-action .block .text {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    color: #F9FAF8;
    margin: 0px;
}

.call-to-action .block .text h1,
.call-to-action .block .text p {
    margin: 5px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    padding: 20px 0;
}

.footer p {
    text-align: center;
    color: #F9FAF8;
    font-size: 18px;
}